body {
  margin: 20px;
  font-family: arial;
}

.header{
  background-color: lightgrey;
  font-size: 22px;
}

* {
  box-sizing: border-box;
}

#wrapper {
  border: 2px dotted slategray;
  width: 800px;
  margin: 0 auto;
    padding: 15px;
}

nav >a {
background-color:darkblue;
  color:white;
  text-decoration: none;
  border-radius: 5px;
  padding: 15px 20px;
  display:inline-block;
}

header{
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 30px;
  background-color:antiquewhite
}

h1,h3 {
margin:0;
}

img{
  float:left;
  margin-right: 15px;
}

footer{
  border:1px dashed black;
  padding: 15px;
}

footer h4 {
  margin: 0 0 10px 0;
}