
* {
    box-sizing: border-box;
}
body {
    background-color:aliceblue;
  }
.main-container {
    width: 1000px;
    margin: 0 auto 0 auto;
}

.promo-container {
    background: skyblue;
    background-image: url(images/range.jpg);
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/   
}

header {
    display: flex;
}

.branding {
    font-family:'metrophobic', Arial,serif;
    text-shadow: 4px 4px 2px green;
    font-size: 50px;
    font-style: italic;
    width:80px;
    height:70px;
    margin-right: auto;
}

.pill-button {
    display: inline-block;
    background: grey;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    
}

a:hover {
color: yellow
}

  

.promo {
    background: grey;
    color: whitesmoke;
    font-size: 15px;
}

/* Big Promo */

#big-promo {
    position: relative;
    padding-top: 300px;
    height: 500px;
}

.promo-message {
    position: absolute;
    bottom: 50px;
    left: 70%;
    height: 400px;
    width: 30%;
    border: 0px solid #ff0000;
    text-align: center;
    
}

/* Product Features */

.product-features, .product-buy-it-now {
  display: flex;
}

.feature {
  text-align: center;
  padding: 20px;
}

.feature-image {
  width: 200px;
  height: 200px;
  margin: 0 auto 0 auto;
  border-radius: 100%;
  overflow: hidden;
}

.product-buy-it-now {
  align-items: right;
}

.product-info {
  text-align: center;
    color: black;
    border: 0px solid red;
    width: 100%;
}

/* Product Reviews */

#product-reviews {
  background: skyblue;
  color: white;
  text-align: center;
  padding: 60px;
  }

/* Footer */

footer {
  display: flex;
  padding: 15px 10px 15px 10px;
  font-size: 12px;
}

.footer-links {
  flex: 1;
}

.footer-copyright {
  flex: 1;
  text-align: right;
}

.footer-copyright p {
  margin: 0;
}
.get {
color: black;
font-family: 'metrophobic', arial;
font-size: 22px;
font-weight: 700;
font-style: italic;
font-variant: small-caps;
line-height: normal;
}

