body {
    background-color: cornflowerblue;
  color:whitesmoke;
}
.fontcolor{
font-family: Arial;
  color: red;
}

a:visited {
  color: mediumaquamarine;
}
a:link {
  text-decoration: none;
}

a:hover {
  color: black;
}
#navigation{
background-color: black;
}