body {
    background-color: cornflowerblue;
  color:whitesmoke;
}
.fontcolor{
font-family: Arial;
  color: red;
}
a:hover{
  color:antiquewhite
}

a:visited {
  text-decoration: aquamarine;
}
a:link {
  text-decoration: none;
}