* {
  box-sizing:border-box;
}

.head,.chest {
postion:absolute;
  left:0;
  right:0;
  margin:auto
}

.robot {
  position: relative;
  width:500px;
  margin:50px auto;
}

.head {
  position: absolute;
  width: 100px;
  height: 60px;
  border: 2px solid gray;
  background:white;
}

.atenna {
  width:2px;
  height:20px;
  background: gray;
  position: absolute;
  top:-20px;
  left:0;
  right:0;
  margin:auto;
}

.light {
  width: 15px;
  height:15 px;
  border-radius: 50%;
  background: gray;
  position:absolute;
  top: -10px;
  left:-6px;
}
.eye {
  width: 10px;
  height:10px;
  background: gray;
  position: absolute;
  top: -15px
}

.eye.left {
left: 20px;
}

.eye.right {
right:20px;
}